input#titulo, textarea.message:focus{
    outline: none;
    transition: all 0.5s ease-in-out;
}

input#titulo:focus, textarea.message:focus{
    background-color: rgba(197, 197, 197, 0.1);
    outline: none!important;
    box-shadow: none !important;
}

.card figure.figura{
    height: 200px !important;
    width: 100%;
    overflow: hidden;
}

